<!-- Starship element display -->
<div class="table-title" *ngIf="routedStarship">
  <table class="table-fill">
    <thead>
      <th class="text-left">Name</th>
      <th class="text-left">Cargo capacity</th>
      <th class="text-left">Hyperdrive rating</th>
      <th class="text-left">Passengers</th>
      <th class="text-left">Crew</th>
    </thead>
    <tbody class="table-hover">
      <tr>
        <td>
          {{ routedStarship.name}}
        </td>
        <td>
          {{ routedStarship.cargo_capacity}}
        </td>
        <td>
          {{ routedStarship.hyperdrive_rating}}
        </td>
        <td>
          {{routedStarship.passengers}}
        </td>
        <td>
          {{routedStarship.crew}}
        </td>
      </tr>
    </tbody>
  </table>
</div>


<br/>
<br/>

<!-- List of film for a starship -->
<div class="table-pilot" *ngIf="routedStarship">
  <table class="table-fill" *ngIf="routedStarship.starshipFilms.length > 0">
    <thead>
      <th class="text-left">Director</th>
      <th class="text-left">Go to</th>
    </thead>
    <tbody class="table-hover">
      <tr *ngFor="let item of routedStarship.starshipFilms; let indexOfelement=index;">
        <td>
          {{item.director}}
        </td>
        <td>
          <button (click)="goToFilm(indexOfelement,item)">more info about this film ?</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<br/>
<br/>

<!-- List of pilot for a starship -->
<div class="table-pilot" *ngIf="routedStarship">
  <table class="table-fill" *ngIf="routedStarship.starshipPilots.length > 0">
    <thead>
      <th class="text-left">Name</th>
      <th class="text-left">Height</th>
      <th class="text-left">Go to</th>
    </thead>
    <tbody class="table-hover">
      <tr *ngFor="let item of routedStarship.starshipPilots; let indexOfelement=index;">
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.height}}
        </td>
        <td>
          <button (click)="goToPilot(indexOfelement,item)">more info about this pilot ?</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br/>